body{
    width: 1280px;
    height: 800px;
    margin: 0 auto;
    border: 10px solid brown;
    align-items: center;
}

.bloque{
    border: 10px solid black;
    width: 1020px;
    height: 350px;
    margin: 20px;
    margin-left: 90px;
    position: relative;
}

#ventana{
    border: 10px solid black;
    height: 150px;
    width: 50px;
    top: -475px;
    left: -40px;
    position: relative;
}

#puerta{
    border: 10px solid black;
    border-left: none;
    height: 150px;
    width: 50px;
    right: -1280px;
    top: -640px;
    position: relative;
}

.cama{
    width: 100px;
    height: 300px;
    border: 3px solid #654321;
    background-color: #d2b48c;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

span.cama {
    display: inline-block; 
    float: right;
}

div.cama {
    display: block;
    float: right;
}

#gruñon{
    position: absolute;
    right: 20px;
    top: 180px;
}

#timido{
    position: absolute;
    bottom: 400px;
}

#d{
    overflow: hidden;
}