body{
    width: 1280px;
    background-color: aqua;
    height: 800px;  /*780px utiles por los dos bordes de 10px*/
    border: 10px solid brown;
    position: relative; 
}

span{
    display: inline-block;
    width: 100px;
    height: 300px;
    border-left: 10px solid #333;
    border-right: 2px solid #333;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom:40px ;
}

div{
    display: block;
    width: 100px;
    height: 300px;
    border-left: 10px solid #333;
    border-right: 2px solid #333;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom:40px ;
    float: left;
}

.bloque1{
    float: none;
}

#gruñon{
    position: absolute;
    right: 20px;
    top: 240px;/*780px del alto del body entre 2 menos 300px de alto de cada cama entre 2*/
}